/* width */
.myscroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.myscroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
.myscroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.myscroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}